* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffc940;
}

.container{
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 120px;
    width: 330px;
    height: 440px;
}

.rr{
   width: 100%;
   padding: 20px;
   border-radius: 30px;
}

button{
    background-color: #ffc940;
    border: none;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

p{
    max-width: 300px;
    margin-left: 30px;
    margin-top: 5px;
}

.icon{
     width: 25px;
     border-radius: 20px;
     margin-left: 30px;
     margin-top: 10px;
}

h3{
    margin-left: 70px;
    margin-top: -30px;
}